.mt-2\.5.shadow-sm.border.border-gray-300.px-1.py-0\.5.bg-white.dark\:bg-slate-800.dark\:text-white.dark\:border-slate-600.rounded-lg {
    background-color: hsl(252, 58.14%, 8.43%) !important;
    color: white !important;
  }
   
  .date-analysis *{
    font-size: 18px !important;
  }